/* Rectangle 3 
.rectanglehaut{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #42313A;
}
*/

body{
    background: #F1DCC9;
}
.container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    color : white;
    padding: 30px;
    border: 1px solid #42313A;
    background: #6C2D2C;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password],textarea,input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #42313A;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #9F4636;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: #8a3b2c;
    color: white;
    border: 1px solid #42313A;
}

.submit {
    font-size: larger;
}
a {
    color : white;  
}
a:hover {
    color : #8a3b2c;

}
