*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F1DCC9;
}
h1{
    font-size:5vw;
}
h2{
    font-size: 2em;
}
h3
{
    font-size: 1.5em;
    color:#F1DCC9;
    margin-left: 1%;
    text-align: left;
}
a{
    color:#42313a;
}
header {
    padding-left: 5%;
    padding-right: 1%;
    background-color: #42313A;
    color:#F1DCC9;
  }
  .StoryContainer{
    margin:5vw;
    display:flex;   
    flex-wrap:wrap;
}


  @media screen and (max-width:1024px){
    .Story{
        margin:1%;
        background-color: #9F4636;  
        text-align: center;
        width:98%;
    }
    .imgStory{
        width:98%;
        height: 50vw;
        object-fit:fill;
    }
}

@media screen and (min-width:1024px){
.Story{
    margin:1%;
    background-color: #9F4636;  
    text-align: center;
    width:48%;
}
.imgStory{
    width:98%;
    height: 25vw;
    object-fit:fill;
}

}

